<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="E2ETesting.TC_001_LaunchWebPage1"/>
      <class name="E2ETesting.TC_002_LaunchWebPage1"/>
      <class name="E2ETesting.TC_003_LaunchWebPage1"/>
      <class name="E2ETesting.TC_004_LaunchWebPage1"/>
      <class name="E2ETesting.TC_005_DragDop"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
